extends layout

block link
  -var active = '/articles'
  
block content
  .row
    .col-lg-8
      .card
        .header
          if pending
            legend Новая статья
          else
            legend #{title}
        .content
          form.form-horizontal(method='post')
            .form-group
              label.col-sm-2.control-label Название
                star *
              .col-sm-10
                input.form-control(type='text' name='title' value=title autofocus)
            .form-group
              label.col-sm-2.control-label Описание
              .col-sm-10
                input.form-control(type='text' name='description' value=description)
            .form-group
              label.col-sm-2.control-label Содержимое
              .col-sm-10
                input.form-control#content(type='hidden' name='content' value=content)
                .summernote
            .form-group
              label.col-sm-2.control-label Место
              .col-sm-10
                a.form-control-static(href="/") Не указано
            .form-group
              label.col-md-2
              .col-sm-9
                if !pending
                  input(type='hidden' name='id' value=_id)
                button.btn.btn-fill.btn-success(type='submit' formaction=pending ? '/articles/new' : '/articles/update') Сохранить статью
          include modules/photo-selector            